* {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
}

button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    margin: 15px;
    font-size: 1.5em;

    background-image: linear-gradient(#CF6060, #549BCD);
    color: black;
}

#game-board {
    height: 350px;
    width: 100vw;
    margin: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-result {
    text-align: center;
    font-size: 2em;
}

#player-one-score, #draw-score, #player-two-score {
    width: 150px;
    text-align: center;
}

#player-one-score {
    color: #549BCD;
}

#draw-score {
    background: linear-gradient(#CF6060, #549BCD);
    background-clip: text;
    color: transparent;
}

#player-two-score {
    color: #CF6060;
}

.container {
    height: 25px;
    width: 500px;
    margin: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.count {
    font-size: 2em;
    color: white;
}

.cell {
    height: 100px;
    width: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: "solid 1px white";
    border-right: "solid 1px white";
}

.cell-last-column {
    border-right: none;
}

.cell-last-row {
    border-bottom: none;
}

.cell p {
    font-size: 5em;
}

.cell:hover {
    box-shadow: inset 0px 0px 3px 3px #549BCD;
}

.player-one-win-cell {
    box-shadow: inset 0px 0px 3px 3px #549BCD;
}

.player-two-win-cell {
    box-shadow: inset 0px 0px 3px 3px #CF6060;
}

.player-one-win-text {
    color: #549BCD;
}

.draw-text {
    background: linear-gradient(#CF6060, #549BCD);
    background-clip: text;
    color: transparent;
}

.player-two-win-text {
    color: #CF6060;
}