* {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    height: 50px;
    width: 100px;
    border-radius: 10px;
    margin: 15px;
    font-size: 1.5em;

    background-image: linear-gradient(red, blue);
    background-clip: text;
    color: transparent;
}

#game-board {
    height: 350px;
    width: 100vw;
    margin: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-result {
    text-align: center;
    font-size: 2em;
    background: linear-gradient(red, blue);
    background-clip: text;
    color: transparent;
}

#result-holder {
    height: 25px;
    width: 100px;
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    height: 100px;
    width: 300px;

    display: flex;
    flex-direction: row;
}

.cell {
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cell p {
    font-size: 5em;
}

.cell:hover {
    box-shadow: inset 0px 0px 3px 3px blue;
}